name: publish
on:
  release:
    types: [created, edited]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
      - run: yarn
      - run: yarn workspace @phala/sdk build
      - run: yarn workspace @phala/sdk publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
